.footer {
  background: $neutral-950;
  margin-top: 6rem;

  color: $orange-500;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  /* margin-bottom: 4rem; */
}

.footer__copyright {
  text-align: center;
  padding: 1rem;
  font-weight: 300;
}
